%h1.centered
  Upcoming Music events for
  = @artist_name.titleize
%br
%br
.container
  .row.centered
    - @artist_event_details.each do |event|  
      .well
        %br
        %strong Venue Name
        = event['venue']['displayName']
        %br
        %strong Location
        = event['location']['city']
        %br
        %strong Event Name
        = event['displayName']
        %br
        %strong Date
        = event['start']['date']
        %br
        %strong Event ID
        = event['counter_id']
        %br
        = link_to "View this event", event_path(event["counter_id"]), :class => "artisteventshow"