%h1.centered
  Location Event info!
%h1.centered.resound.resound-search
  = @event.event_json['location']['city']
.centered
  .well
    %strong Artist Name
    %br
    - @event.event_json['performance'].each do |performance|
      = performance['displayName']
      %br
      %br
    %strong Venue Name
    %br
    = @event.event_json['venue']['displayName']
    %br
    %br
    %strong Location
    %br
    = @event.event_json['location']['city']
    %br
    %br
    %strong Event Name
    %br
    = @event.event_json['displayName']
    %br
    %br
    - if @event.event_json['start']['time']
      %strong Time
      %br
      = @event.event_json['start']['time']
      / .parse.strftime('%I:%M%p')
      %br
      %br
    %strong Date
    %br
    = @event.event_json['start']['date']
    %br
    %br
    %strong Event ID
    %br
    = @event.event_json['counter_id']
    %br
    %br
    %strong View More details
    %br
    = link_to "View More Details on this Event through Songkick", @event.event_json['uri'], :target => "_blank"
    %br
    = link_to "View More Details on this Venue through Songkick", @event.event_json['venue']['uri'], :target => "_blank"
    %br
    = image_tag "https://maps.googleapis.com/maps/api/staticmap?center=#{@event.event_json['venue']['displayName']},#{@event.event_json['location']['city']}&zoom=14&size=700x400&maptype=roadmap&markers=color:blue%7Clabel:Venue%7C#{@event.event_json['venue']['displayName']},#{@event.event_json['location']['city']}"


- if @event_artist_id != nil
  - if @location_artist_top_tracks.length > 0
    %h3.centered
      = "Here are #{@event_artist.titleize}'s top tracks, take a listen and see what you think!"
    %br
    %br
    .centered  
      - @location_artist_top_tracks.each do |track|
        .col-sm-6
          %i
            = track['name']
          %br  
          = link_to image_tag("spotify.png", :class => "spotify-listen"), track['preview_url'], :target => "_blank"
          %br
          %br
  - if @location_artist_genres.length > 0
    %h3.centered
      = "Related Genres"
      %br
    .centered
      - @location_artist_genres.each do |genre|
        %br
        %strong
          = genre.capitalize
  - if @location_related_artists.length > 0
    .centered
      %h3 Related Artists
      %br
      %strong
        = @event_related_artists
      %br
  .container
    .row
      .col-lg-8.col-lg-offset-2
        %hr
  .centered
    %br
    %h4
      = @event.event_json['performance'][0]['displayName']
  %img.spotify-artist-image{:src => @location_artist_image }
  %br
- else
  %h3.centered No Spotify info for this artist.