%h1.centered
  Location Event info!
%h1.centered.resound.resound-search
  = @event.event_json['location']['city']
.centered
  .well
    %strong Artist Name
    %br
    - @event.event_json['performance'].each do |performance|
      = performance['displayName']
      %br
    %strong Venue Name
    %br
    = @event.event_json['venue']['displayName']
    %br
    %strong Location
    %br
    = @event.event_json['location']['city']
    %br
    %strong Event Name
    %br
    = @event.event_json['displayName']
    %br
    %strong Time
    %br
    = @event.event_json['start']['time']
    / .parse.strftime('%I:%M%p')
    %br
    %strong Date
    %br
    = @event.event_json['start']['date']
    %br
    %strong Event ID
    %br
    = @event.event_json['counter_id']
    %br
    %strong View More details
    %br
    = link_to "View More Details on this Event through Songkick", @event.event_json['uri'], :target => "_blank"
    %br
    = link_to "View More Details on this Venue through Songkick", @event.event_json['venue']['uri'], :target => "_blank"
    %br
    = image_tag "https://maps.googleapis.com/maps/api/staticmap?center=#{@event.event_json['venue']['displayName']},#{@event.event_json['location']['city']}&zoom=14&size=700x400&maptype=roadmap&markers=color:blue%7Clabel:Venue%7C#{@event.event_json['venue']['displayName']},#{@event.event_json['location']['city']}"
%h3.centered
  = "Here are #{@event_artist.titleize}'s top tracks, take a listen and see what you think!"
%br
%br
.centered
  - @location_artist_top_tracks.each do |track|
    .col-sm-6
      %i
        = track['name']
      %br
      = link_to "Listen", track['preview_url'], :target => "_blank"
      %br
      %br
- if @location_artist_genres.length > 0
  %h3.centered
    = "Related Genres"
    %br
  .centered
    - @location_artist_genres.each do |genre|
      %br
      %strong
        = genre.capitalize
.centered
  %strong Related Artists:
  %br
  = @event_related_artists
%br
- if @location_artist_image.length > 0
  %img.spotify-artist-image{:src => @location_artist_image }
%br
