%h1.centered Venue
%h1.centered.resound.resound-search
  = @venue.event_json['venue']['displayName']
.centered
  .well
    %h1 Event Details
    %strong Artist Name
    %br
    - @venue.event_json['performance'].each do |performance|
      = performance['displayName']
    %br
    %br
    %strong Venue Name
    %br
    = @venue.event_json['venue']['displayName']
    %br
    %br
    %strong Location
    %br
    = @venue.event_json['location']['city']
    %br
    %br
    %strong Event Name
    %br
    = @venue.event_json['displayName']
    %br
    %br
    - if @venue_event_time != nil
      %strong Time
      %br
      = Time.parse(@venue_event_time).strftime('%I:%M%p')
      %br
      %br
    %strong Date
    %br
    = Date.parse(@venue.event_json['start']['date']).strftime("%b %d, %Y")
    %br
    %br
    %strong View More details
    %br
    = link_to "View More Details on this Event through Songkick", @venue.event_json['uri'], :target => "_blank"
    %br
    = link_to "View More Details on this Venue through Songkick", @venue.event_json['venue']['uri'], :target => "_blank"
    %br
    %br
    = image_tag "https://maps.googleapis.com/maps/api/staticmap?center=#{@venue.event_json['venue']['displayName']},#{@venue.event_json['location']['city']}&zoom=14&size=700x400&maptype=roadmap&markers=color:blue%7Clabel:Venue%7C#{@venue.event_json['venue']['displayName']},#{@venue.event_json['location']['city']}"


/ Spotify Artist Info
/ Only show/search spotify api info, if artist is not nil
- if @venue_artist_id != nil
  %h1.centered.resound.resound-search
    Artist Details
  - if @venue_artist_top_tracks.length > 0
    %h3.centered
      = "Here are #{@venue_artist.titleize}'s top tracks, take a listen and see what you think!"
    %br
    %br
    .centered
      - @venue_artist_top_tracks.each do |track|
        .col-sm-6
          %i
            = track['name']
          %br
          = link_to image_tag("spotify.png", :class => "spotify-listen"), track['preview_url'], :target => "_blank"
          %br
          %br
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
        %hr
  - if @venue_artist_bio_api.length > 0
    - if @resound_venue_artist_bio != nil
      %h3.centered Biography
      .col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
        .centered  
          = @resound_venue_artist_bio[0..400]
          = "..."
          %br
          = link_to "See full artist bio", @resound_venue_artist_bio_url, :target => "_blank"
        %br
      %br
  - if @venue_artist_genres.length > 0
    .col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
      %h3.centered
        = "Related Genres"
        %br
      .centered
        - @venue_artist_genres.each do |genre|
          %br
          %strong
            = genre.capitalize
  - if @venue_related_artists != nil
    .col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
      .centered
        %h3 Related Artists
        %br
        %strong
          - @venue_related_artists['artists'].each do |related_artist|
            .col-sm-4
              %i
                = related_artist['name']
              %br
      %br
    %br
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
        %hr
  .centered
    %br
    %h4
      = @venue.event_json['performance'][0]['displayName'] 
  %img.spotify-artist-image{:src => @venue_artist_image}
  %br
- else 
  %h3.centered No Spotify info for this artist.