%h1.centered Venue Event info!
%h1.centered.resound.resound-search
  = @venue.event_json['venue']['displayName']
.centered
  .well
    %strong Artist Name
    %br
    - @venue.event_json['performance'].each do |performance|
      = performance['displayName']
    %br
    %br
    %strong Venue Name
    %br
    = @venue.event_json['venue']['displayName']
    %br
    %br
    %strong Location
    %br
    = @venue.event_json['location']['city']
    %br
    %br
    %strong Event Name
    %br
    = @venue.event_json['displayName']
    %br
    %br  
    %strong Time
    %br
    = @venue_event_time
    / .parse.strftime('%I:%M%p')
    %br
    %br
    %strong Date
    %br
    = @venue.event_json['start']['date']
    %br
    %br
    %strong Event ID
    %br
    = @venue.event_json['counter_id']
    %br
    %br
    %strong View More details
    %br
    = link_to "View More Details on this Event through Songkick", @venue.event_json['uri'], :target => "_blank"
    %br
    = link_to "View More Details on this Venue through Songkick", @venue.event_json['venue']['uri'], :target => "_blank"
    %br
    %br
    = image_tag "https://maps.googleapis.com/maps/api/staticmap?center=#{@venue.event_json['venue']['displayName']},#{@venue.event_json['location']['city']}&zoom=14&size=700x400&maptype=roadmap&markers=color:blue%7Clabel:Venue%7C#{@venue.event_json['venue']['displayName']},#{@venue.event_json['location']['city']}"


/ Spotify Artist Info
/ Only show/search spotify api info, if artist is not nil
- if @venue_artist_id != nil
  %h3.centered
    = "Here are #{@venue_artist.titleize}'s top tracks, take a listen and see what you think!"
  %br
  %br
  .centered
    - @venue_artist_top_tracks.each do |track|
      .col-sm-6
        %i
          = track['name']
        %br
        %i.icon-unmute
          = link_to 'Listen', track['preview_url'], :target => "_blank"
        %br
        %br
  - if @venue_artist_genres.length > 0
    %h3.centered
      = "Related Genres"
      %br
    .centered
      - @venue_artist_genres.each do |genre|
        %br
        %strong
          = genre.capitalize
  .centered
    %h3.centered Related Artists
    %br
    %strong
      = @venue_related_artists
  %br
  - if @venue_artist_image.length > 0
    %img.spotify-artist-image{:src => @venue_artist_image}
  .centered
    %i
      = @venue.event_json['performance'][0]['displayName']
  %br
- else 
  %h3.centered No Spotify info for this artist.