%h1.centered Venue Event info!
%h1.centered.resound.resound-search
  = @venue.event_json['venue']['displayName']
.centered
  .well
    %strong Artist Name
    %br
    - @venue.event_json['performance'].each do |performance|
      = performance['displayName']
    %br
    %strong Venue Name
    %br
    = @venue.event_json['venue']['displayName']
    %br
    %strong Location
    %br
    = @venue.event_json['location']['city']
    %br
    %strong Event Name
    %br
    = @venue.event_json['displayName']
    %br
    %strong Time
    %br
    = @venue_event_time
    / .parse.strftime('%I:%M%p')
    %br
    %strong Date
    %br
    = @venue.event_json['start']['date']
    %br
    %strong Event ID
    %br
    = @venue.event_json['counter_id']
    %br
    %strong View More details
    %br
    = link_to "View More Details on this Event through Songkick", @venue.event_json['uri'], :target => "_blank"
    %br
    = link_to "View More Details on this Venue through Songkick", @venue.event_json['venue']['uri'], :target => "_blank"
    %br
    = image_tag "https://maps.googleapis.com/maps/api/staticmap?center=#{@venue.event_json['venue']['displayName']},#{@venue.event_json['location']['city']}&zoom=14&size=700x400&maptype=roadmap&markers=color:blue%7Clabel:Venue%7C#{@venue_lat},#{@venue_lng}"
    / = link_to "Return to list of events"