#aboutwrap
  .container
    .row
      .col-lg-6.col-lg-offset-3
        %h1.resound About
.container
  .row.centered.mt.mb
    .col-lg-8.col-lg-offset-2
      %h2.resound RESOUND
      %br
      %br
      %p Have you ever wanted to go out and listen to some live music but don't know where or who you should go hear? That is why we're here, we'll help you find the one artist you've been wanting to go see. Or if you have a favorite venue where you like to hang out, you can see their upcoming performances. Even more, say you have a favorite artist who you've been really wanting to hear, we've got you covered. You can easily search for an artist and we'll give you their upcoming performances.

      %hr
  
      %p A great part of our service is that we not only have event searches for artists, venues, and locations, but we also give you music samples of the artists you might go hear live. The purpose of this is to give you an idea ahead of time of that artist's musical style, so you know if you want to see them live or not. With this feature, you don't have to leave it up to chance on whether you will enjoy the music you're going to hear!

      %hr

      %p With the service Resound offers, we hope that you no longer have to worry about finding good live music. Our purpose and goal is to find the music that Resounds with you.
.container
  .row
    .col-lg-4.col-md-4.col-sm-4.gallery
      = image_tag("about1.jpg", :class => "img-responsive about-pics")
    .col-lg-4.col-md-4.col-sm-4.gallery
      = image_tag("about2.jpg", :class => "img-responsive about-pics")
    .col-lg-4.col-md-4.col-sm-4.gallery
      = image_tag("about3.jpg", :class => "img-responsive about-pics")
      %br
      %br
      %br
    .col-lg-6.col-lg-offset-4.gallery
      = image_tag("songkick.jpg", :class => 'img-responsive logos centered')
      %br
      %br
      = image_tag("spotify-logo.jpg", :class => 'img-responsive logos centered')
      %br
      %br